body {
    background-color: rgb(204, 235, 234);
    border-style: ridge;
    margin-right: 10cm;
    padding-left: 6cm;
    margin-left: 5cm;
}

figcaption {
    color: blueviolet;
}

p {
    font-size: large;
}

h1, h2, h3,h4 {
    color: maroon;
}

strong {
    color: darkblue;
}

a {
    color: green;
    text-decoration: none;
}

div {
    position: fixed;
    left:0;
    top: 0;
    padding-left:5cm;
    padding-top: 50px;
    text-align: start;
    color: maroon;
}

h4 {
    padding-left: 25px;
}

p {
    font-size: large;
}