body {
    background-color: aliceblue;
    border-style: ridge;
    margin-right: 10cm;
    padding-left: 6cm;
    margin-left: 5cm;
}

h1, h2 {
    color: maroon;
}
 figcaption {
    color: blueviolet;
 }

a {
    text-decoration: none;
    color: green;
}

div {
    position: fixed;
    left:0;
    top: 0;
    padding-left:5cm;
    padding-top: 50px;
    text-align: start;
    color: maroon;
}

h2 {
    padding-left: 25px;
}

p {
    font-size: large;
}