body {
    background-color: rgb(197, 239, 197);
    border-style: ridge;
    margin-right: 10cm;
    padding-left: 6cm;
    margin-left: 5cm;
    
}

figcaption {
    color: blueviolet;
    border: 1px;
}    

strong {
    color: darkblue;
}

h1, h2,h3 {
    color: maroon;
}

p {
    font-size: large;
}

a {
    text-decoration: none;
    color: green;
}

pre {
    text-decoration-style:italic ;
}

img {
    padding-top: 25px;
}
div {
    position: fixed;
    left:0;
    top: 0;
    padding-left:5cm;
    padding-top: 50px;
    text-align: start;
    color: maroon;
}

h3 {
    padding-left: 25px;
}

p {
    font-size: large;
}

