body {
    background-color:rgb(245, 192, 237) ;
    border-style: ridge;
    margin-right: 10cm;
    padding-left: 6cm;
    margin-left: 5cm;
}

h1, h2, h2, h3, h4, h4 ,h4 {
    color: maroon;
}

figcaption {
    color: blueviolet;
}

p {
    font-size: large;
}

a {
    text-decoration: none;
    color: green;
}

strong {
    color: darkblue;
}
div {
    position: fixed;
    left:0;
    top: 0;
    padding-left:5cm;
    padding-top: 50px;
    text-align: start;
    color: maroon;
}

img {
    padding-top: 25px;
}
h3 {
    padding-left: 25px;
}